.events {
  display: flex;
  flex-direction: column;
}
.events .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: var(--header);
}

.events .header h1 {
  margin: 0;
}
.events .header .newEvent {
  background-color: var(--accent);
  padding: 10px;
  color: var(--bg);
  border-radius: 10px;
  transition: 0.3s;
}
.events .header .newEvent:hover {
  background-color: var(--accent-bg);
  color: var(--accent);
  cursor: pointer;
  border: 1px solid var(--accent);
  font-weight: 600;
}
