.eventForm {
  flex-grow: 1;
  max-width: 500px;
  min-width: 225px;
}
.eventForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.eventForm h2 {
  margin: 0px;
  font-weight: 500;
  color: var(--main);
}

.eventForm input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
