@import url("../index.css");

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: #fff;
  padding: 0 1rem;
  height: 60px;
  z-index: 1;
}

.footer-left,
.footer-right {
  font-size: 0.9rem;
}
.footer-left {
  margin-right: 200px;
}

.footer-right {
  margin-left: 70px;
}

.footer-right p {
  margin: 0;
}
